@page
@using GameBrain
@model WebApp.Pages.PlayGame.PlacePiece

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/PlayGame.css" />
</head>
<body>
@{
    var gridStartX = Model.TicTacTwoBrain.GetGridLocation()[0];
    var gridStartY = Model.TicTacTwoBrain.GetGridLocation()[1];
    int gridSize = Model.TicTacTwoBrain.GetGridSize();
    bool isOngoing = Model.TicTacTwoBrain.GetStatus() == EGameStatus.Ongoing;
}

@if (isOngoing)
{
    <div>It's player @Model.TicTacTwoBrain.GetNextMoveBy()'s turn. Playing as @(Model.TicTacTwoBrain.GetPlayerX() == Model.TicTacTwoBrain.GetNextMoveBy() ? "X" : "O").</div>
    <p></p>
    <div class="gameboard ongoing">
        <table>
            @for (int y = 0; y < Model.TicTacTwoBrain.DimY; y++)
            {
                <tr>
                    @for (int x = 0; x < Model.TicTacTwoBrain.DimX; x++)
                    {
                        bool isInnerGrid = x >= gridStartX && x < (gridStartX + gridSize) &&
                                               y >= gridStartY && y < (gridStartY + gridSize);
                        <td class="@(isInnerGrid ? "inner-grid" : "")">
                            @if (Model.TicTacTwoBrain.GetBoard()[x][y] == "Empty")
                            {
                                <a asp-route-x="@x" asp-route-y="@y" asp-route-GameId="@Model.GameId" asp-route-UserName="@Model.UserName">&nbsp;</a>
                            }
                            else
                            {
                                var pieceClass = Model.TicTacTwoBrain.GetBoard()[x][y] == Model.TicTacTwoBrain.GetPlayerX() ? "x-piece" : "o-piece";
                                <span class="@pieceClass">@(Model.TicTacTwoBrain.GetBoard()[x][y] == Model.TicTacTwoBrain.GetPlayerX() ? "X" : "O")</span>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>End of story. @Model.TicTacTwoBrain.GetStatus()</p>
    <a asp-page="/Home" asp-route-username="@Model.UserName" class="btn">
        Play again
    </a>

}
</body>
</html>

