@model App.DAL.DTO.OrderItemDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidthMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidthMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinearMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinearMeter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
